.body {
  background-color: #eee;
  background-image: url("../img/currency_converter_background_2151438_1920.jpg");
  color: #222;
  font-family: "Ubuntu", "Arial", "Helvetica", sans-serif;
  font-size: 17px;
  line-height: 1.5;
}