.body {
  background-color: #eee;
  background-image: url("../img/currency_converter_background-2151438_1920.jpg");
  color: #111;
  font-family: "Ubuntu", "Arial", "Helvetica", sans-serif;
  font-size: 18px;
  line-height: 1.5;
}