.footer {
  list-style: none;
  margin-top: 5px auto;
  padding: 5px;
  border: 1px solid #000;
  box-shadow: 3px 3px 9px #000;
}

.currencyConverter__footer--fontColor {
  font-size: 22px;
  color: #f00;
}

.currencyConverter__footer--author {
  margin-top: 5px auto;
  padding: 5px;
  font-size: 12px;
}